In [5]:
# Write a Python program to convert kilometers to miles

def kmtomiles():
    km=int(input('enter kilometers'))
    miles=km/1.60934
    print('for {} kilometers miles are {}'.format(km,miles))

In [7]:
kmtomiles()

enter kilometers5
for 5 kilometers miles are 3.106863683249034

In [10]:
#Write a Python program to convert Celsius to Fahrenheit

def celtofah():
    cel=int(input('enter celcilus'))
    fah=(9*cel/5)+32
    print('for {} celcius fahran heat is {}'.format(cel,fah))

In [11]:
celtofah()

enter celcilus35
for 35 celcius fahran heat is 95.0

In [21]:
#Write a Python program to display calendar
import calendar

def cal():
    year=int(input('enter year'))
    month=int(input('enter month'))
    print(calendar.month(year,month))
    print(calendar.calendar(year))

In [22]:
cal()

enter year2015
enter month5
      May 2015
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [25]:
#Write a Python program to solve quadratic equation
import math

def quadraticequ():
    a = int(input(("Enter the coeff a: ")))
    b = int(input(("Enter the coeff b: ")))
    c = int(input(("Enter the constant c: ")))
    d = (b**2) - (4*a*c)

    root1 = ((-1*b)+(math.sqrt(d))) / (2*a)
    root2 = ((-1*b)-(math.sqrt(d))) / (2*a)

    print('\nFor quad eq. {}x^2 + ({})x^1 + {}'.format(a,b,c))
    print('The solutions are: {} and {}'.format(root1, root2))

In [27]:
quadraticequ()

Enter the coeff a: 1
Enter the coeff b: -9
Enter the constant c: 14

For quad eq. 1x^2 + (-9)x^1 + 14
The solutions are: 7.0 and 2.0

In [29]:
#Write a Python program to swap two variables without temp variable

def swap():
    a=int(input('enter first number'))
    b=int(input('enter second number'))
    
    b=a+b
    a=b-a
    b=b-a
    
    print('after swap a is {} and b is {}'.format(a,b))

In [30]:
swap()

enter first number1
enter second number2
after swap a is 2 and b is 1